In [1]:
import pandas
import numpy
import xlrd
import matplotlib
from openpyxl import load_workbook
%matplotlib inline

In [2]:
myfile = "FinancialSample.xlsx"
path = r'FinancialSample.xlsx'

In [3]:
df = pandas.read_excel(myfile, 'Sheet1')
df.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3,32370.0,0.0,32370.0,16185.0,16185.0,41640,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,26420.0,0.0,26420.0,13210.0,13210.0,41640,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3,32670.0,0.0,32670.0,21780.0,10890.0,41791,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3,13320.0,0.0,13320.0,8880.0,4440.0,41791,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3,37050.0,0.0,37050.0,24700.0,12350.0,41791,6,June,2014

In [4]:
df['Sale Price'] = df['Gross Sales'] / df['Units Sold']
df['Sale Price'].head()

0    20.0
1    20.0
2    15.0
3    15.0
4    15.0
Name: Sale Price, dtype: float64

In [5]:
writer = pandas.ExcelWriter(path, engine='openpyxl')
book = load_workbook(path)
writer.book = book
writer.sheets = dict((ws.title, ws) for ws in book.worksheets)
df.to_excel(writer, sheet_name='Sheet2')
writer.save()

In [11]:
df.Country.value_counts()

Mexico                      140
France                      140
United States of America    140
Canada                      140
Germany                     140
Name: Country, dtype: int64